<div class="col-md-8 offset-md-3" >
<h2>Create Employee</h2>
<form  (ngSubmit)="onSubmit()" action="#">
<div class="form-group" >
    <label class="mt-2">First Name</label>
    <input type="text"  class="form-control" id="firstName"
    [(ngModel)] = "employee.firstName" name="firstName" required="can not be null">   

</div>

<div class="form-group mt-3">
    <label >Last Name</label>
    <input type="text" class="form-control" id="lastName"
    [(ngModel)] = "employee.lastName" name="lastName" required>   
</div>
<div class="form-group mt-3">
    <label >Email</label>
    <input type="text" class="form-control" id="emailId"
    [(ngModel)] = "employee.emailId" name="emailId" required>   
</div>
<button class="btn btn-success mt-3" type="submit">Submit</button>
</form>
</div>